*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.slider-wrapper .slider-item{
    position: relative;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.slider-wrapper .slider-item::before{
    position: absolute;
    content: '';
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('slider-images/img-1.jpg');
    background-position: center;
    background-size: cover;

}

.slider-wrapper .slider-item .slide-content{
    position: relative;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    z-index: 20;
}

.slider-item .slide-content .slide.subtitle{
    font-size: 1rem;
    font-weight: normal;
}

.slider-item .slide-content .slide.title{
    font-size: 1.5rem;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.slider-item .slide-content .slide-description{
    color: #fff;
    width: 250px;
    padding: 13px 0;
    display: block;
    margin-top: 45px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
}

.slider-item .slide-content .slide-description:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}